body{
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
#wrapper{
  width: 1440px;
  overflow: hidden;
}
a:hover{
  color: #480808 !important;
  transition-timing-function: ease;
  transition-duration: .5s;
}

a:visited{
  color: black;
}

.navbar{
  height: 40px;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 0px;
}

#sela-logo{
  width:350px;
}
#right-nav{
  position:fixed;
  z-index:10;
  top: 0px;
  margin-left: 1350px;
  padding-right: 50px;
  font-family: 'Lato';
  padding-top: 15px;
  background-color: white;
}
#left-nav{
  margin-left: auto;
  padding-right: 50px;
}

h4{
  font-family: 'Montserrat', sans-serif;
  padding-left: 200px;
  font-weight: 400;
  }

.learn-more{
  font-family: 'Montserrat', sans-serif;
  padding-left: 170px;
  padding-top: 50px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  padding-left: 130px;
  margin-top: 85px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.project-description{
  text-align:center;
  width:400px;
  margin-left: 115px;
  padding-top: 20px;
}
h2 {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font-size: 70px;
  padding-left: 120px;
}

#feature-container{
  height: 500px;
  position: relative;
  display: block;
  margin-top:200px;
}
.project-float{
  width: 600px;
  background-color: white;
  float: left;
  margin: 0 auto;
}
#symbol-process{
  padding-left: 10px;
  padding-top: 70px;
}
#feature-section{
  padding-left: 50px;
  margin-top: -50px;
}

#x-logo{
  padding-left: 85px;
}
#x-process{
  padding-left: 30px;
}
#sketches{
  margin-top:100px;
  margin-left: 50px;
}
#finalline{
  width:300px;
  padding-top: 100px;
  padding-left: 160px;
}
.footer{
  width: 100%;
  height: 300px;
  margin-top: 200px;
}
#footer-square{
  width: 1448px;
  height: 300px;
  background-color: #000000;
  margin-top: 700px;
}
#sela-logo-footer{
  margin-left: 520px;
  margin-top:45px;
}
.social-icons-footer{
margin-top: 230px;
position: absolute;
margin-left: 605px

}

#instagram-footer{
  padding-right: 20px;
  width:30px;
}
#facebook-footer{
  padding-right: 25px;
  width:30px;
}
#linked-in-footer{
  padding-right: 25px;
  width:30px;
}
#twitter-footer{
  padding-right: 25px;
  width:30px;
}
